footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.attribution {
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
}

.attribution a {
  color: var(--Neon-Green);
  text-decoration: none;
}

.hero:hover {
  text-decoration: underline;
}
